.scheduler{
    border: solid black 1px;
    display: inline-block;
    position: absolute;
    right: 5%;
    width: 100px;
    height: 100px;
}

.notification-icon{
    border-radius: 4px;
    background: red;
    color: white;
    width: fit-content
}